NODE_ENV=development
PORT=3000

SWAGGER_ENABLED=true
SWAGGER_PATH=docs

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=digi_tether
DATABASE_PASSWORD=digi_tether
DATABASE_NAME=digi_tether

RABBITMQ_URL=amqp://guest:guest@localhost:5672
